.bg {
  height: 100%;
  background-size: cover;
}
* {
  margin: 0%;
  padding: 0%;
  margin-bottom: 0%;
}
.centered {
  position: absolute;
  position: absolute;
  bottom: 430px;
  right: 460px;
  color: bisque;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: oblique;
  font-size: 40px;
}
.para {
  position: absolute;
  position: absolute;
  bottom: 50px;
  right: 40px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: oblique;
  font-size: 20px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 100px;
}
